/*FORMATAÇÃO GERAL */

body{
	font-family: 'Gochi Hand', sans-serif;}

h1, h2, h3{
	margin: 0;
    font-family: 'Oleo Script', cursive;
    font-weight: 700;}

p{
	font-family: 'Open Sans', sans-serif;} 

/* CABEÇALHO OU BARRA DE NAVEGAÇÃO*/

#logo img{
   	border-radius: 50%;}

nav{
	display: flex;
	flex direction: column;
    align-items: center;
    background-color: #A6FFCB;
    padding: 30px;}

nav ul{
	list-style: none;
	padding: 0;
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }

nav ul li{
	text-align: center;
    width: 100%;
    font-size: 1.5em;
    padding: 2%;}

nav ul li a{
	display: inline-block;
    padding: 10px 0;
	width: 100%;
	text-decoration: none;
    color:#B3463E;}

    #kara{
    width: 100%;}

    /* HEADER*/

header{
	 background-image:url(../img/imgh1-2.jpg);
	 background-size: cover;
	 background-position: center;
	 background-repeat: no-repeat;
	 display: flex;
	 color:#B3463E;
	 flex-direction: column;
	 align-items: center;
	 text-align: center;
	 padding: 20px;}

header p{
	margin-bottom: 2em;
	font-size: 1.7em;
}
#botão{
	color: #B3463E;
	padding: 10px 10px;
	font-size: 1.3em;
	text-decoration: none;}

#kara{
    width: 100%;}

	/* Sobre*/

#Sobre{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #A6FFCB;
	color: #B3463E;}

#Sobre h2{
	margin-top: 20px;
	font-size: 2em;}

.ul img{
	width:60%;}

.ul{
	float: left;
	width: 50%;}

#eu{
	float: right;
	width: 50%;}

/*Habilidades*/

#habilidades{
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 0 auto;}

#habilidades div{
	display:flex; 
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px}

#habilidades p{
	line-height: 1.5;
	margin: 2vh;
	font-size: 1.2em;}

#habilidades img{
	margin: 10 px 0;}

#habilidades h2{
	font-size: 2em;}

#porta{
	width: 50%;
	align-items: center;
	display: flex;
	flex-direction: column;}

/*Competências*/

#Competências{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px;}

#Competências h2{
	margin-bottom: 10px;
	margin-top: 5px;
	font-size: 2em;
	text-align: center;}

#Competências h3,p{
	margin-bottom: 10px;
	margin-top: 5px;
	font-size: 1em;
	text-align: center;}

#Competências a{
	text-decoration: none;}

#Competências .port img{
	width: 100%;
	margin-bottom: 0;}

#Competências p{
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	margin-top: 0;
	font-family: 'Open Sans', sans-serif;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 1.5;}



/*Responsivo*/

@media screen and (min-width: 768px){

/* CABEÇALHO OU BARRA DE NAVEGAÇÃO*/
nav{
	justify-content: space-around;}

nav ul{
	flex-direction: row;
	width: 70%;}

/*Sobre*/

#Sobre{
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	height: 90vh;
	justify-content: center;
	min-height: 80vh;}

#Sobre h2{
	text-align: center;
	width: 100%;}

#sobre div{
	flex-grow: 1;
	flex-basis: 300px;}

/*Header*/

header{
	height: 500px;
	 justify-content: center;}


/*Habilidades*/

#habilidades{
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;}

#habilidades h2{
	text-align: center;
	width: 100%;}

#habilidades div{
	flex-grow: 1;
	flex-basis: 300px;
	padding: 0 10px;}

/*Competências*/

#Competências {
	flex-direction: row;
	flex-wrap: wrap;}

#Competências h2,h3{
	width:100%;
	text-align: center;}

#Competências .port{
	width: 50%
	text-align:center;}}