/*FORMATAÇÃO GERAL */
body{
	font-family: 'Gochi Hand', cursive;}

h1, h2, h3{
	margin: 0;
    font-family: 'Oleo Script', cursive;
    font-weight: 700;}

p{
	font-family: 'Open Sans', sans-serif;} 

/* CABEÇALHO OU BARRA DE NAVEGAÇÃO*/

#logo img{
    border-radius: 50%;}

nav{
	display: flex;
	flex direction: column;
    align-items: center;
    background-color: #A6FFCB;
    padding: 30px;}

nav ul{
	list-style: none;
	padding: 0;
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }

nav ul li{
	text-align: center;
    width: 100%;
    font-size: 1.5em;
    padding: 2%;}

nav ul li a{
	display: inline-block;
    padding: 10px 0;
	width: 100%;
	text-decoration: none;
    color:#B3463E;}

    #kara{
    width: 100%}

@media screen and (min-width: 768px){

/* CABEÇALHO OU BARRA DE NAVEGAÇÃO*/
nav{
	flex-direction: row;
	justify-content: space-around;}

nav ul{
	flex-direction: row;
	width: 70%;}
}
/* HEADER*/
header{
	 background-image:url(../img/imgh1-2.jpg);
	 background-size: cover;
	 background-position: center;
	 background-repeat: no-repeat;
	 display: flex;
	 color:#B3463E;
	 flex-direction: column;
	 align-items: center;
	 text-align: center;
	 padding: 20px;
	 height: 500px;
	 justify-content: center;}

header p{
	margin-bottom: 2em;
	font-size: 1.7em;
}
#botão{
	color: #B3463E;
	padding: 10px 10px;
	font-size: 1.3em;
	text-decoration: none;}

#container{
	width: 100%;}



	/* Sobre*/

#Sobre{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #A6FFCB;
	color: #B3463E;}

#Sobre h2{
	margin-top: 20px;
	font-size: 2em;}

.ul img{
	width:60%;}

.ul{
	float: left;
	width: 50%;}

#eu{
	float: right;
	width: 50%;}

#Sobre{
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	height: 90vh;
	justify-content: center;
	min-height: 80vh;}

#Sobre h2{
	text-align: center;
	width: 100%;}

#sobre div{
	flex-grow: 1;
	flex-basis: 300px;	}




