/*FORMATAÇÃO GERAL */

body{
	font-family: 'Gochi Hand', sans-serif;}

h1, h2, h3{
	margin: 0;
    font-family: 'Oleo Script', cursive;
    font-weight: 700;}

p{
	font-family: 'Balsamiq Sans', cursive;} 



/* CABEÇALHO OU BARRA DE NAVEGAÇÃO*/

#logo img{
   	border-radius: 50%;}

nav{
	display: flex;
	flex direction: column;
    align-items: center;
    background-color: #A6FFCB;
    padding: 30px;}

nav ul{
	list-style: none;
	padding: 0;
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }

nav ul li{
	text-align: center;
    width: 100%;
    font-size: 1.5em;
    padding: 2%;}

nav ul li a{
	display: inline-block;
    padding: 10px 0;
	width: 100%;
	text-decoration: none;
    color: #B3463E;}

    #kara{
    width: 100%;}

    /* HEADER*/

header{
	 background-image:url(../img/imgh1-2.jpg);
	 background-size: cover;
	 background-position: center;
	 background-repeat: no-repeat;
	 display: flex;
	 color:#B3463E;
	 flex-direction: column;
	 align-items: center;
	 text-align: center;
	 padding: 20px;}

header p{
	margin-bottom: 2em;
	font-size: 1.7em;
}
#botão{
	color: #B3463E;
	padding: 10px 10px;
	font-size: 1.3em;
	text-decoration: none;}

#kara{
    width: 100%;}

	/* Sobre*/

#Sobre{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #A6FFCB;
	color: #B3463E;}

#Sobre h2{
	margin-top: 20px;
	font-size: 2em;}

.ul img{
	width:60%;}

.ul{
	float: left;
	width: 50%;}

#eu{
	float: right;
	width: 50%;}

#eu p{
	font-size: 1.5em;

}

/*Habilidades*/

#habilidades{
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 0 auto;}

#habilidades div{
	display:flex; 
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px}

#habilidades p{
	line-height: 1.5;
	margin: 2vh;
	font-size: 1.2em;
	text-align: center;}

#habilidades img{
	margin: 10 px 0;}

#habilidades h2{
	font-size: 2em;}

#porta{
	width: 50%;
	align-items: center;
	display: flex;
	flex-direction: column;}

/*Competências*/

#competencias{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

#competencias h2{
	margin-bottom: 10px;
	margin-top: 5px;
	font-size: 2em;
	text-align: center;}

#competencias h3,p{
	margin-bottom: 10px;
	margin-top: 5px;
	font-size: 1em;
	text-align: center;}

#a1{
	text-decoration: none;}

#competencias img{
	width:50%;
	margin-bottom: 0;
}

#competencias .port p{
	margin-top: 0;
	padding-right: 15px; 
	padding-left: 15px;
	line-height: 1.5;
}

#competencias #p p{
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
			
}

#port a:hover {
  background-color: #A6FFCB;
}

/*Conquistas*/

#conquistas p{
	border-left: 2px solid black;
	border-right: 2px solid black;
}

/*Hobbies*/

#hobby{
	align-items: center;
	display: flex;
	flex-direction: column;
	width:100%;
}

.hobby{
	padding-top: 50px;
	width: 80%;
	align-items: center;
	text-align: center;
}

.hobby h3{
	font-size: 1.5em;
}

#hobinho{
	text-align: center;
	font-size: 2em;
}

#i{
	margin-top: 50px;
}

/*Contato*/

#contato{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #A6FFCB;
	color: #B3463E;
	width: 100%;
}

#contato h2{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-width: 20px;
	font-size: 2em;
	text-align: center;
	color: #B3463E;
}

#contato a{
	text-decoration: none;
	color: #B3463E;
	text-align: center;
}

footer{
	text-align: left;
	width: 100%;
	color: #A6FFCB;
	background-color: #B3463E;
	padding-bottom: 20px;
	padding-top: 20px;
}

/*Responsivo*/

@media screen and (min-width: 768px){

/* CABEÇALHO OU BARRA DE NAVEGAÇÃO*/
nav{
	justify-content: space-around;}

nav ul{
	flex-direction: row;
	width: 70%;}

/*Sobre*/

#Sobre{
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	height: 90vh;
	justify-content: center;
	min-height: 80vh;}

#Sobre h2{
	text-align: center;
	width: 100%;}

#sobre div{
	flex-grow: 1;
	flex-basis: 300px;}

/*Header*/

header{
	height: 500px;
	 justify-content: center;}


/*Habilidades*/

#habilidades{
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;}

#habilidades h2{
	text-align: center;
	width: 100%;}

#habilidades div{
	flex-grow: 1;
	flex-basis: 300px;
	padding: 0 10px;}

#habilidades p{
	text-align: center;}

/*Competências*/

#competencias {
	flex-direction: row;
	flex-wrap: wrap;}

#competencias h2,h3{
	width:100%;
	text-align: center;}

#competencias .port{
	width:33.3%;
	text-align:center;
	flex-direction: row;}

/*Contatos*/

#contato{
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	max-height: 40vh;
	width: 100%;
}

#contato h2{
	width: 100%;
	text-align: center;
}

}